$bg-grey: #e0e0e0 !important;
.grey {
    background-color: $bg-grey;
}
.light-indigo {
    background-color: #9fa8da !important;
}
.light-grey {
    background-color: #fafafa !important;
}
.light-orange{
    background-color: #ffcc80 !important;
}
.indigo {
    background-color: #3f51b5 !important;
}
