<div class="card anchor-behaviour" [ngClass]="currentClass">
    <div class="card-body pb-0">
        <app-weather-icon [iconName]="weatherInfo.weather[0].icon"></app-weather-icon>
        <div class="d-flex justify-content-between">
            <p class="mb-0 h5">{{weatherInfo.temp | tempConverter: 'C' }}&deg;C</p>
            <!-- <p class="mb-0 hour">12:15 PM</p> -->
            <p class="mb-0 hour"> 
                {{ weatherInfo.sunrise | unixToTime | date: 'hh:mm a'}}: 
                {{ weatherInfo.sunset | unixToTime | date: 'hh:mm a'}}
            </p> 
        </div>
    </div>
    <hr>
    <div class="card-body pt-0">
        <h6 class="font-weight-bold mb-1">{{weatherInfo.name}} ({{weatherInfo.country | uppercase}})</h6>
        <p class="mb-0">{{weatherInfo.weather[0].description | titlecase}}</p>
    </div>
    <div class="card-body pt-2">
        <a (click)="onCardClickHandler()" class="btn btn-dark">Show Upcoming Data</a> 
    </div>
</div>
