.grey.lighten-2 {
    background-color: #e0e0e0 !important;
}
.indigo.lighten-3 {
    background-color: #9fa8da !important;
}
.grey.lighten-5 {
    background-color: #fafafa !important;
}
.orange.lighten-3 {
    background-color: #ffcc80 !important;
}
.indigo {
    background-color: #3f51b5 !important;
}