<div class="card panels-card">
    <div class="card-body grey lighten-5 rounded-bottom">
      <!-- Grid row -->
      <div class="row" *ngIf="citiesWeather.length > 0">
        <div class="col-lg-3 col-md-4 col-sm-6 p-1" *ngFor="let weatherInfo of citiesWeather;">
            <app-weather-card [weatherInfo]="weatherInfo"></app-weather-card>
        </div>
      </div>
    </div>
</div>
