<footer class="site-footer container">
    <div class="row">
        <p class="copyright-text">Copyright &copy; {{copyRightYear | date: 'yyyy' }} All Rights Reserved by Weather App</p>
    </div>
</footer>