<div class="row">
    <canvas baseChart 
        [datasets]="barChartData"
        [labels]="labels"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType"
    >
    </canvas>
</div>