<!-- Card -->
<div class="row container">
    <p> Next 5 days weather data</p>
</div>
<div>
    <div class="card weather-card">
        <div class="card-body pb-3">
            <h4 class="card-title font-weight-bold">{{cityDetail.name}} ({{cityDetail.country}}) </h4>
            <p class="card-text">
                {{ cityDetail.sunrise | unixToTime | date: 'hh:mm a'}}:
                {{ cityDetail.sunset | unixToTime | date: 'hh:mm a'}}
            </p>
            <div class="row">
               <div class="">
                   <select class="form form-control float-left" (change)="onTimeSelectHandler($event)">
                       <option>Apply Filter</option>
                       <option *ngFor="let value of rangeSelection">{{value}}</option>
                   </select>
               </div>
            </div>
            <div class="row">
                <table class="table">
                    <tbody *ngIf="upcomingWeatherForecastData.length > 0">
                        <tr>
                            <th>Date</th>
                            <th>Wind Speed(Meter/Sec)</th>
                            <th>Weather</th>
                            <th>Sea Level(hPa)</th>
                            <th>Humidity(%)</th>
                            <th>Temperature(&deg;C)</th>
                        </tr>
                        <tr *ngFor="let item of upcomingWeatherForecastData;">
                            <td>{{item.dt_txt}}</td>
                            <td>{{item.wind.speed}}</td>
                            <td>
                                {{item.weather[0].main}}
                                <app-weather-icon [iconName]="item.weather[0].icon"></app-weather-icon>
                            </td>
                            <td>{{item.main.sea_level}}</td>
                            <td>{{item.main.humidity}}</td>
                            <td>{{item.main.temp | tempConverter: 'C'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-12" *ngIf="upcomingWeatherForecastData.length > 0">
                <app-bar-chart [labels]="barChartLabels" [barChartData]="barChartData"></app-bar-chart>
            </div>
        </div>
    </div>
</div>